<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://hairgely.github.io/assets/css/bootstrap.min.css" />

<!-- Optional theme -->
<link rel="stylesheet" href="https://hairgely.github.io/assets/css/bootstrap-theme.min.css" />

<!-- Latest compiled and minified JavaScript -->
<script src="https://hairgely.github.io/assets/js/bootstrap.min.js"></script>
<!-- end custom head snippets -->