<div class="ui menu">
  <a class="header item" href="/">hairgely</a>
  <div class="right menu">
  	<a class="item menu-details {% if page.title == 'Resume' %}active{% endif %}" target="_blank" href="/resume/" data-position="bottom left" data-content="Resume"><i class="icon dashboard"></i></a>
    <a class="item menu-details {% if page.title == 'Blog' %}active{% endif %}" target="_blank" href="/blog/" data-position="bottom left" data-content="Blog"><i class="icon comments"></i></a>
    <a class="item menu-details {% if page.title == 'Apps' %}active{% endif %}" target="_blank" href="http://page700.com" data-position="bottom left" data-content="Page700"><i class="icon cube"></i></a>
  </div>
</div>
